* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  padding-top: 50px;
  display: flex;
  justify-content: center;

  padding-top: 34px;

  /* background: red; */
}

a {
  text-decoration: none;
  color: black;
}

.menu-container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: black;
}

.logo span {
  color: yellow;
}

.menu-nav--container {
  display: flex;

  align-items: center;

  gap: 60px;
  font-size: 19px;
}

.login {
  color: yellow;
}

.try-it {
  background: yellow;
  color: #fff;

  height: 2.75rem;
  width: 10rem;

  border-radius: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.25rem;
  font-weight: black;
}
