* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.header-wrapper {
  width: 100%;

  display: flex;
  justify-content: center;

  padding-top: 32px;

  /* background: red; */
}

.header-container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  font-weight: 900;
}

.logo span {
  color: #facc15;
}

.header-nav--container {
  display: flex;

  align-items: center;

  gap: 48px;
  font-size: 19px;
}

.header-nav--container a {
  font-size: 16px;
  color: #475569;
  font-weight: 900;
}

.login {
  color: #facc15;
}

.header-nav--container .try-it {
  background: #facc15;
  color: #fff;

  height: 2.5rem;
  width: 7.75rem;

  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.25rem;
  font-weight: black;
}

.section-hero--wrapper {
  width: 100%;
  height: calc(100vh - 75px);

  display: flex;
  justify-content: center;
}

.section-hero--container {
  width: 100%;
  max-width: 1200px;

  display: flex;
  align-items: center;
}

.section-hero--leftside .title {
  font-size: 72px;
  color: #713f12;
  font-weight: 700;
}
